form {
  display: flex;
  border: 2px solid darkgrey;
  border-radius: 30px;
  width: 30vw;
  padding: 5px;
  background-color: #e7e7e7;
}

input {
  flex-grow: 2;
  border: none;
  width: 24vw;
  background-color: #e7e7e7;
  font-size: 28px;
}

input:focus {
  outline: none;
}

label {
  display: flex;
  align-items: center;
}

button {
  margin-left: auto;

  border: 3px solid #845ec2;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #845ec2;
  color: white;
}

.keyboard-img {
  width: 40px;
  margin: 0px 5px;
}
