.profile-screen-body {
  height: 100vh;
  background: linear-gradient(to top, #fff 65%, #fdcd3b 65%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logged-in-user {
  color: black;
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
}

li {
  text-align: center;
  padding-bottom: 30px;
}

li button {
  padding-right: 40px;
}

.translations-header {
  display: flex;
  color: black;
  margin: auto;
  padding-bottom: 200px;
  margin-top: 100px;
}

.logout {
  margin: auto;
}
