.profile-screen-body {
  height: 100vh;
  background: linear-gradient(to top, #fff 65%, #fdcd3b 65%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logged-in-user {
  color: black;
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

li {
}

.translations-header {
  color: black;
  text-align: center;
}

.logout {
  margin: auto;
}
